<template>
  <main id="hangman-game">
    <div id="hangman-game-picture">
      <HangMan
        color="#333333"
        height="240"
        :incorrect-guesses="incorrectGuesses"
      />
    </div>
    <div id="game-over-message">
      <div v-show="hasWon">
        Winner!!!
      </div>
      <div v-show="hasLost">
        Sorry... Try Again!
      </div>
    </div>
    <div id="hangman-game-word">
      <WordToGuess
        :game-over="gameOver"
        :word="secretWord"
        :guessed-letters="guessedLetters"
      />
    </div>
    <div id="hangman-game-letters">
      <AvailableLetters
        :previously-guessed="guessedLetters"
        @letter-guessed="letterGuessed"
      />
    </div>

    <VBtn
      color="success"
      large
      dark
      bottom
      right
      absolute
      rounded
      @click="createNewGame"
    >
      <VIcon class="mr-2">mdi-gamepad</VIcon>
      New Game
    </VBtn>
  </main>
</template>

<script>
import { mapGetters } from 'vuex';
import faker from 'faker';
import AvailableLetters from '@/components/AvailableLetters.vue';
import HangMan from '@/components/HangMan.vue';
import WordToGuess from '@/components/WordToGuess.vue';
import * as storeConstants from '@/store/constants';

export default {
  name: 'HangManGame',
  components: {
    AvailableLetters,
    HangMan,
    WordToGuess,
  },
  data: () => ({
    guessedLetters: [],
    secretWord: null,
    turnName: null,
  }),
  computed: {
    ...mapGetters({
      userDefinedWords: storeConstants.settings.GET_WORDS,
    }),
    correctGuesses() {
      return this.guessedLetters.filter((letter) => this.secretWord.includes(letter)).length;
    },
    incorrectGuesses() {
      return this.guessedLetters.filter((letter) => !this.secretWord.includes(letter)).length;
    },
    gameOver() {
      return this.hasWon || this.hasLost;
    },
    hasLost() {
      return this.secretWord && this.incorrectGuesses === 7;
    },
    hasUserDefinedWords() {
      return Array.isArray(this.userDefinedWords) && this.userDefinedWords.length > 0;
    },
    hasWon() {
      return this.secretWord && this.correctGuesses === this.uniqueLetters.length;
    },
    uniqueLetters() {
      const secretWord = this.secretWord || '';
      return secretWord.split('').filter((item, i, ar) => ar.indexOf(item) === i);
    },
    userDefinedWordsUppercase() {
      return this.hasUserDefinedWords
        ? this.userDefinedWords.map((word) => word.toUpperCase())
        : [];
    },
  },
  mounted() {
    this.createNewGame();
  },
  methods: {
    createNewGame() {
      this.guessedLetters.splice(0);

      if (this.hasUserDefinedWords) {
        this.useRandomUserDefinedWord();
      } else {
        this.generateRandomWord();
      }
    },
    generateRandomWord() {
      let secretWord;
      while (!secretWord || secretWord.length > 15 || !secretWord.match(/^[A-Za-z]+$/)) {
        secretWord = faker.random.word();
      }
      this.secretWord = secretWord.toUpperCase();
    },
    letterGuessed(letter) {
      const guessedLetter = letter.toUpperCase();
      if (!this.gameOver && !this.guessedLetters.includes(guessedLetter)) {
        this.guessedLetters.push(guessedLetter);
      }
    },
    useRandomUserDefinedWord() {
      const randomWordIndex = Math.floor(Math.random() * this.userDefinedWordsUppercase.length);
      this.secretWord = this.userDefinedWordsUppercase[randomWordIndex];
    },
  },
};
</script>

<style lang="scss" scoped>
#hangman-game {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;

  #hangman-game-picture {
    padding: 0 25px 25px;
  }

  #hangman-game-letters {
    padding: 15px 25px 25px;
  }

  #hangman-game-status {
    height: 1rem;
  }

  #game-over-message {
    height: 1rem;
    margin-bottom: 10px;
  }
}
</style>
