<template>
  <form>
    <VTextField
      label="Primary Color"
      dense
      :value="primaryColor"
      @input="setPrimaryColor"
    />

    <VTextarea
      clearable
      dense
      auto-grow
      color="primary"
      clear-icon="mdi-close"
      label="Words"
      rows="1"
      :value="wordsTextareaValue"
      @input="updateWords"
    />
  </form>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import * as storeConstants from '@/store/constants';

export default {
  name: 'Settings',
  computed: {
    ...mapGetters({
      primaryColor: storeConstants.settings.GET_PRIMARY_COLOR,
      words: storeConstants.settings.GET_WORDS,
    }),
    wordsTextareaValue() {
      return this.words.join('\n');
    },
  },
  methods: {
    ...mapActions({
      setPrimaryColor: storeConstants.settings.SET_PRIMARY_COLOR,
      setWords: storeConstants.settings.SET_WORDS,
    }),
    updateWords(wordsTextareaValue) {
      const words = wordsTextareaValue.split('\n');
      this.setWords(words);
    },
  },
};
</script>

<style scoped>

</style>
