<template>
  <VAppBar
    color="primary"
    dense
    dark
    absolute
  >
    <VBtn
      id="app-brand"
      to="/"
      text
    >
      <HangMan
        color="#eee"
        height="35"
        class="mr-3"
      />
      Hangman
    </VBtn>

    <VSpacer />

    <VBtn
      icon
      to="/settings"
    >
      <VIcon>mdi-cog</VIcon>
    </VBtn>
  </VAppBar>
</template>

<script>
import HangMan from '@/components/HangMan.vue';

export default {
  name: 'AppBar',
  components: { HangMan },
  component: {
    HangMan,
  },
};
</script>

<style lang="scss" scoped>
#app-brand {
  text-transform: none;
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: normal;

  &:before {
    display: none;
  }
}
</style>
