<template>
  <VBtn
    fab
    small
    color="primary"
    :disabled="disabled"
    @click="$emit('letter-guessed')"
    v-text="letter"
  />
</template>

<script>
export default {
  name: 'AvailableLetter',
  props: {
    disabled: {
      type: Boolean,
      required: false,
      default: false,
    },
    letter: {
      type: String,
      required: false,
      default: null,
    },
  },
};
</script>
