<template>
  <div id="available-letters">
    <span
      :key="letter"
      v-for="letter in availableLetters"
      class="letter"
    >
      <AvailableLetter
        :letter="letter"
        :disabled="letterIsDisabled(letter)"
        @letter-guessed="$emit('letter-guessed', letter)"
      />
    </span>
  </div>
</template>

<script>
import AvailableLetter from '@/components/AvailableLetter.vue';

export default {
  name: 'AvailableLetters',
  components: {
    AvailableLetter,
  },
  props: {
    previouslyGuessed: {
      type: Array,
      required: false,
      default: () => ['c'],
    },
  },
  computed: {
    availableLetters: () => [...Array(26)].map((_, i) => String.fromCharCode('A'.charCodeAt(0) + i)),
  },
  methods: {
    letterIsDisabled(letter) {
      return this.previouslyGuessed.map((l) => l.toUpperCase()).includes(letter.toUpperCase());
    },
  },
};
</script>

<style lang="scss" scoped>
#available-letters {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  justify-content: center;

  .letter {
    padding: 5px;
    font-weight: bold;
    cursor: default;
  }
}
</style>
