<template>
  <!-- eslint-disable max-len -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    viewBox="0 0 75 100"
    visibility="visible"
    :height="svgHeight"
    :width="svgWidth"
  >
    <line
      :stroke="svgColor"
      y1="3.565062px"
      id="structure1"
      x1="20.000000px"
      stroke-width="3px"
      y2="94.652405px"
      x2="20.000000px"
    />

    <line
      :stroke="svgColor"
      y1="95.000000px"
      id="structure2"
      x1="0.000000"
      stroke-width="3px"
      y2="95.000000px"
      x2="40.000000px"
    />

    <line
      :stroke="svgColor"
      y1="3.500000px"
      id="structure3"
      x1="55.000000px"
      stroke-width="3px"
      y2="15.000000px"
      x2="55.000000px"
    />

    <line
      :stroke="svgColor"
      y1="16.04278px"
      id="structure5"
      x1="20.23173px"
      stroke-width="3px"
      y2="4.991087px"
      x2="31.996435px"
    />

    <line
      :stroke="svgColor"
      y1="5.000000px"
      id="structure4"
      x1="20.000000px"
      stroke-width="3px"
      y2="5.000000px"
      x2="55.000000px"
    />

    <circle
      v-show="incorrectGuesses > 0"
      :stroke="svgColor"
      id="head"
      stroke-width="3px"
      cy="24.59893px"
      fill="none"
      r="8.734404px"
      cx="55.169342px"
    />

    <line
      v-show="incorrectGuesses > 1"
      :stroke="svgColor"
      y1="34.000000px"
      id="body"
      x1="55.000000px"
      stroke-width="3px"
      y2="60.000000px"
      x2="55.000000px"
    />

    <line
      v-show="incorrectGuesses > 2"
      :stroke="svgColor"
      y1="58.467022px"
      id="leg1"
      x1="55.347595px"
      stroke-width="3px"
      y2="78.25312px"
      x2="41.622105px"
    />

    <line
      v-show="incorrectGuesses > 3"
      :stroke="svgColor"
      y1="59.001781px"
      id="leg2"
      x1="54.991089px"
      stroke-width="3px"
      y2="78.431374px"
      x2="68.181816px"
    />

    <line
      v-show="incorrectGuesses > 4"
      :stroke="svgColor"
      y1="41.889484px"
      id="arm1"
      x1="54.456329px"
      stroke-width="3px"
      y2="49.554367px"
      x2="38.948307px"
    />

    <line
      v-show="incorrectGuesses > 5"
      :stroke="svgColor"
      y1="42.067738px"
      id="arm2"
      x1="55.347595px"
      stroke-width="3px"
      y2="47.593582px"
      x2="72.994652px"
    />

    <line
      v-show="incorrectGuesses > 6"
      :stroke="svgColor"
      y1="23.172905px"
      id="face1"
      x1="51.247772px"
      stroke-width="1.5px"
      y2="20.499109px"
      x2="53.743317px"
    />

    <line
      v-show="incorrectGuesses > 6"
      :stroke="svgColor"
      y1="20.499109px"
      id="face2"
      x1="51.247772px"
      stroke-width="1.5px"
      y2="23.172905px"
      x2="53.92157px"
    />

    <line
      v-show="incorrectGuesses > 6"
      :stroke="svgColor"
      y1="20.320856px"
      id="face3"
      x1="57.308376px"
      stroke-width="1.5px"
      y2="22.638145px"
      x2="59.447414px"
    />

    <line
      v-show="incorrectGuesses > 6"
      :stroke="svgColor"
      y1="22.638145px"
      id="face4"
      x1="57.130123px"
      stroke-width="1.5px"
      y2="20.142603px"
      x2="59.625668px"
    />

    <line
      v-show="incorrectGuesses > 6"
      :stroke="svgColor"
      y1="29.411764px"
      id="face5"
      x1="51.069519px"
      stroke-width="1.5px"
      y2="29.411764px"
      x2="51.069519px"
    />

    <path
      v-show="incorrectGuesses > 6"
      :stroke="svgColor"
      id="path1"
      stroke-width="1.5px"
      d="M51.069519,27.985741 C51.069519,27.985741 58.912655,28.520498 58.912655,28.520498 C58.912655,28.520498 55.882355,29.946522 55.704102,28.163992"
      fill="none"
    />
  </svg>
</template>

<script>
import SvgMixin from '@/mixins/SvgMixin';


// const defaultHeight = 240;
// const defaultWidth = 180;
const defaultHeight = 100;
const defaultWidth = 75;
const defaultColor = '#000000';

export default {
  name: 'HangMan',
  mixins: [
    SvgMixin({
      width: defaultWidth,
      height: defaultHeight,
      color: defaultColor,
    }),
  ],
  props: {
    incorrectGuesses: {
      type: Number,
      required: false,
      default: 7,
    },
  },
};
</script>
