<template>
  <div>
    <span
      :key="`${word}-${index}`"
      v-for="(letter, index) in word"
      class="word-to-guess-letter"
      :class="{ incorrect: !letterGuessed(letter) }"
      v-html="showIfGuessedOrDone(letter)"
    />
  </div>
</template>

<script>
export default {
  name: 'WordToGuess',
  props: {
    gameOver: {
      type: Boolean,
      required: false,
      default: true,
    },
    guessedLetters: {
      type: Array,
      required: false,
      default: () => [],
      validator: (letters) => letters.every((letter) => typeof letter === 'string' && letter.length === 1),
    },
    word: {
      type: String,
      required: false,
      default: null,
    },
  },
  computed: {
    guessedLettersUppercase() {
      return this.guessedLetters.map((letter) => letter.toUpperCase());
    },
  },
  methods: {
    letterGuessed(letter) {
      const letterUppercase = letter.toUpperCase();
      return this.guessedLettersUppercase.includes(letterUppercase);
    },
    showIfGuessedOrDone(letter) {
      return this.gameOver || this.letterGuessed(letter) ? letter : '&nbsp;';
    },
  },
};
</script>

<style lang="scss" scoped>
.word-to-guess-letter {
  font-weight: bold;
  font-size: 36px;
  border-bottom: 3px solid #333333;
  margin: 0 8px;
  width: 1.25em;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;

  &.incorrect {
    color: red;
  }
}
</style>
