<template>
  <VApp id="app">
    <AppBar />
    <VContent>
      <VContainer id="app-content">
        <RouterView />
      </VContainer>
    </VContent>
  </VApp>
</template>

<script>
import AppBar from '@/components/AppBar.vue';

export default {
  name: 'App',
  components: {
    AppBar,
  },
};
</script>

<style lang="scss" scoped>
#app-content {
  padding-top: 75px;
}
</style>
